<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="classPathResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg index="0" value="tasks.csv"/>
    </bean>

    <bean id="taskDao" class="ru.otus.spring.dao.TaskDaoImpl"/>

    <bean id="taskService" class="ru.otus.spring.services.TaskServiceImpl">
        <constructor-arg index="0" ref="taskDao"/>
    </bean>

    <bean id="tasksConverter" class="ru.otus.spring.services.TaskConverterImpl"/>

</beans>