<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taskConverter" class="ru.otus.spring.services.TaskConverterImpl"/>

    <bean id="ioService" class="ru.otus.spring.services.IOServiceStreams"/>

    <bean id="taskDao" class="ru.otus.spring.dao.TaskDaoImpl">
        <constructor-arg index="0" value="tasks.csv"/>
        <constructor-arg index="1" ref="taskConverter"/>
    </bean>

    <bean id="taskService" class="ru.otus.spring.services.TaskServiceImpl">
        <constructor-arg index="0" ref="taskDao"/>
    </bean>

    <bean id="applicationRunner" class="ru.otus.spring.services.ApplicationRunner">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="taskService"/>
        <constructor-arg index="2" ref="taskConverter"/>
    </bean>

</beans>